<h1>Name: @ViewBag.theNinja.name</h1>
<h3>Ninja Level - @ViewBag.theNinja.level</h3>
<h3>Description:</h3>
<p>@ViewBag.theNinja.description</p>

<h3>Current Dojo: <a href="/dojo/@ViewBag.theDojo.id">@ViewBag.theDojo.dojoName</a></h3>