<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
</head>
<body>
    <div id="top_nav">
        <h1>Welcome to Portfolio</h1>
        <ul>
            <li class="topLinks"><a class="menu_links" href="http://localhost:5000/">Home</a></li>
            <li class="topLinks"><a class="menu_links" href="http://localhost:5000/projects/">Projects</a></li>
            <li class="topLinks"><a class="menu_links" href="http://localhost:5000/contactpage/">Contact Page</a></li>
        </ul>
    </div>
    <div>
        <h2>This is Home Page</h2>
    </div>
    <div id="picture_area">
        <h3>Profile Picture:</h3>
        <img id="the_pic" src="~/pictures/tigger00.jpg" alt="tigger">
    </div>
    <div id="first_of">
        <h3>Bio:</h3>
        <ul>
            <li>Born: San Juan, Puerto Rico</li><br>
            <li>Date of Birth: March 11, 1983</li><br>
            <li>Favorite Color: something with green</li><br>
            <li><b>Likes:</b> volleyball, puppies</li><br>
            <li><b>House:</b> Lannister</li>

        </ul>
        <img src="~/pictures/lannister.png" alt="lannister">
    </div>
</body>
</html>