<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
</head>
<body>
    <div id="top_nav">
        <h1>Welcome to Portfolio</h1>
        <ul>
            <li class="topLinks"><a class="menu_links" href="http://localhost:5000/">Home</a></li>
            <li class="topLinks"><a class="menu_links" href="http://localhost:5000/projects/">Projects</a></li>
            <li class="topLinks"><a class="menu_links" href="http://localhost:5000/contactpage/">Contact Page</a></li>
        </ul>
    </div>
    <div>
        <h2>Projects:</h2>
        <ul id="project_list">
            <li>Game of Thorones</li>
            <li>Bicycle Marketplace</li>
            <li>Trivia Game</li>
        </ul>
    </div>
</body>
</html>