<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LostInTheWoods</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="top_nav">
        <h1>Lost in the Woods</h1>
        <p id="nav_bar"><a href="/">All Trails</a>   |   <a href="/newtrail">Add Trail</a></p>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
        
        
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
