@{
    ViewData["Title"] = "Home Page";
}
<h2>Add a new quote:</h2>
<form action="addquote" method="post">
    <label>Your name:</label>
    <input type="text" name="Author"><br><br>

    <label>Your quote:</label>
    <textarea name="Quote" cols="30" rows="10"></textarea><br><br>

    <button type="submit">Add Quote</button>
</form><br>

<a href="/quotes"><button class="botones">Skip to Quotes</button></a>